<ol> 
  <li ng-repeat="item in list.found">
    <section class="itemName">
        Name: {{ item.name }}
    </section>
    <section class="itemShortName">
        Short Name: {{ item.short_name }} 
    </section>
    <section class="itemDescription">
        Description: {{item.description}}
    </section>
     
    <button class="removeButton" ng-click="list.onRemove({index: $index});">Don't want this one!</button> 
    <!-- add narrowItDown. with the controller else remove -->
  </li>
</ol>
<div class="errorMessage" ng-if="list.isSearchTermCorrect()">Nothing found</div>