body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    background-color: #fbf9cb; 
}

#header-nav {
  background-color: #035bdf;
  border-radius: 0;
  border: 0;
}

.navbar-brand h1{ /* Restaurant name */
  color: black;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

#collapsable-nav{
  background-color: #0a9bf5;
}

#collapsable-nav li{
  border: 2px solid black;
}
#collapsable-nav li:hover{
  background-color: #84cbf7;
}

#menu-title{
    color: black;
    font-size: 175%;
    margin-top: 2%;
    margin-bottom: 3%;
    font-weight: bold;
}


#chickensection, #beefsection, #sushisection{
    border: 1px solid black;
    margin-bottom: 2%;
    height: 700px;
    overflow:hidden;
    position:relative;
}

#chickensection:hover, #beefsection:hover, #sushisection:hover{
    overflow-y: scroll;
    cursor: ns-resize;
}

h3 {
  padding:3px; 
  font-size: 125%;
  top:0;
  right:0;
  font-weight: bold;
}

#chickensection{
  background-color: #83cff1; 
}

#beefsection{
  background-color: #f9a778;
}

#sushisection{
  background-color: #ce9dd9;
}

p{
    width: 90%;
    margin-left: 7%;
    margin-right: 7%;
    padding-left: 5%;
    padding-right: 5%;
}


#backtotop{
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}

footer{
    text-align: center;
    margin-top: 100%;
}